{{#ifEquals info "delete"}}
<div class="">
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <strong>Đã xóa người dùng.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/ifEquals}}
<div class="container" style="margin-top: 20px;">
    <h3 class="text-center mt-2"><b>Danh sách người dùng</b></h3>

    <div class="container">
        <table id="example">
            <thead>
                <tr>
                    <th>Tên người dùng</th>
                    <th>Giới tính</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <td><a style="color: #000000;" href="/bac-si/{{ID}}-{{Name}}">{{Name}}</a></td>
                    <td>{{Gender}}</td>
                    <td>{{Phone}}</td>
                    <td>{{Email}}</td>
                    <td>{{Address}}</td>
                    <td>
                        <div class="d-flex">
                            <a type="button" class="d-block" data-bs-toggle="modal"
                                data-bs-target="#deleteServiceModal{{ID}}">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}

        </table>
    </div>
</div>
{{#each user}}

<!-- Modal -->
<div class="modal fade" id="deleteServiceModal{{ID}}" tabindex="-1" aria-labelledby="deleteServiceModal{{ID}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa người dùng <i>{{Name}}</i>?
                <form class="px-md-2" id="deleteServiceForm{{ID}}" action="/chinh-sua/nguoidung/xoa/{{ID}}" method="POST">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" form="deleteServiceForm{{ID}}">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<style>
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: sans-serif;
        font-weight: 100;
    }

    table {
        width: 1280px;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    th,
    td {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #000000;
    }

    th {
        text-align: left;
    }

    thead th {
        background-color: #1eb2c5;
        color: aliceblue;
    }

    tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    tbody td {
        position: relative;
    }

    tbody td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function slugify(text) {
        return text.toString().toLowerCase()
            .replace(/\s+/g, '-')           // Thay thế khoảng trắng bằng dấu gạch ngang
            .replace(/[^\w\-]+/g, '')       // Xóa các ký tự không phải chữ cái, số, dấu gạch ngang
            .replace(/\-\-+/g, '-')         // Thay thế nhiều dấu gạch ngang liên tiếp bằng một dấu gạch ngang
            .replace(/^-+/, '')             // Loại bỏ dấu gạch ngang ở đầu chuỗi
            .replace(/-+$/, '');            // Loại bỏ dấu gạch ngang ở cuối chuỗi
    }
</script>