<div class="container" style="margin-top: 20px;">
  <h3 class="text-center mt-2"><b>Danh mục thuốc</b></h3>


  <div class="container">
    {{#other role "patient"}}
    <table id="example">
      <thead>
        <tr>
          <th>Tên thuốc</th>
          <th>Đv </th>
          <th>Giá</th>
          <th>SL</th>
          <th>Hoạt chất</th>
          <th>Công dụng chính</th>
        </tr>
      </thead>
      <tbody>
        {{#each drugs}}
        <tr>
          <td><a style="color: #000000;" href="/thuoc/{{ID}}-{{Name}}">{{Name}}</a></td>
          <td>{{Unit}}</td>
          <td>{{Price}}</td>
          <td>{{Quantity}}</td>
          <td>{{Chemicals}}</td>
          <td>{{ Uses }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/other}}

    {{#ifEquals role "patient"}}
    <table id="table_Us">
      <thead>
        <tr>
          <th>Hình ảnh</th>
          <th>Thông tin </th>
        </tr>
      </thead>
      <tbody>
        {{#each drugs}}
        <tr>
          <td>
            <div style="width: 200px; height: 200px">
              <img src='/img/Drugs/{{image}}' class="img-fluid rounded-start"
                style="height: 200px; object-fit: cover ;border-right: 1px solid #ccc;" alt="Chưa có ảnh">
            </div>
          </td>
          <td>
            <div class="card-body">
              <h5 class="card-title">{{Name}}</h5>
              <p class="card-text">Thành phần : {{Chemicals}}</p>
              <p class="card-text">Công dụng : {{Uses}}</p>
              <p class="card-text">Số lượng : {{Quantity}}</p>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/ifEquals}}
  </div>
</div>
<script></script>
<style>
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
  }

  table {
    width: 1280px;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  th,
  td {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
  }

  th {
    text-align: left;
  }

  thead th {
    background-color: #1eb2c5;
    color: aliceblue;
  }

  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  tbody td {
    position: relative;
  }

  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }
</style>