{{#ifEquals info "edit"}}
<div class="">
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <strong>Chỉnh sửa thông tin dịch vụ thành công.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/ifEquals}}
{{#ifEquals info "delete"}}
<div class="">
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <strong>Đã xóa dịch vụ.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/ifEquals}}
<div class="container" style="margin-top: 20px;">
    <h3 class="text-center mt-2"><b>Bảng giá dịch vụ</b></h3>


     <div class="container">
	<table  id="example">
	  <thead>
            <tr>
                <th>ID</th>
                <th>Tên dịch vụ</th>
                <th>Giá</th>
                {{!-- {{#ifEquals role "doctor"}}
                <th>Hành động</th>
                {{/ifEquals}} --}}
            </tr>
        </thead>
        <tbody>
            {{#each services}}
            <tr>
                <td>{{ID}}</td>
                <td>{{ServiceName}}</td>
                <td>{{Price}}</td>
                {{!-- {{#ifEquals ../role "doctor"}}
                <td>
                    <div class="d-flex">
                        <a type="button" class="d-block me-2" data-bs-toggle="modal" data-bs-target="#editServiceModal{{ID}}">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <a type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#deleteServiceModal{{ID}}">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </td>
                {{/ifEquals}} --}}
            </tr>
            {{/each}}
        
	</table>
</div>
</div>

{{#each services}}
<!-- Modal -->
<div class="modal fade" id="editServiceModal{{ID}}" tabindex="-1" aria-labelledby="editServiceModal{{ID}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa thông tin dịch vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="px-md-2" id="editServiceForm{{ID}}" action="/chinh-sua/dich-vu/{{ID}}" method="POST">
                    {{!-- Drug name input --}}
                    <div class="form-floating mb-4">
                        <input type="text" id="ServiceName{{ID}}" class="form-control" name="ServiceName"
                            value="{{ServiceName}}" required />
                        <label class="form-label" for="ServiceName{{ID}}">Tên dịch vụ</label>
                    </div>

                    {{!-- Unit input --}}
                    <div class="form-floating mb-4">
                        <input type="number" id="Price{{ID}}" class="form-control" name="Price" value="{{Price}}" min="0"
                            required />
                        <label class="form-label" for="Price{{ID}}">Giá</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" form="editServiceForm{{ID}}">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteServiceModal{{ID}}" tabindex="-1" aria-labelledby="deleteServiceModal{{ID}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa dịch vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa dịch vụ <i>{{ServiceName}}</i>?
                <form class="px-md-2" id="deleteServiceForm{{ID}}" action="/chinh-sua/dich-vu/xoa/{{ID}}" method="POST">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" form="deleteServiceForm{{ID}}">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<style>
    html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}

table {
  width: 1280px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
th,
td {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
}
th {
  text-align: left;
}
thead th {
  background-color: #1eb2c5;
  color: aliceblue;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

</style>